body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #e0fbfc;
    margin: 0;
    padding: 0;
    color: #001219;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  a {
    color: #005f73;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  